[submodule "wickr-sdk"]
	path = wickr-sdk
        url = git@wkrnjpgit.wickrlan.net:wickr/desktop/wickr-sdk.git
	ignore = all

[submodule "wickr-integrations"]
	path = wickr-integrations
	url = git@wkrnjpgit.wickrlan.net:wickr/integrations/wickr-integrations.git
	ignore = all

[submodule "libs/nzmqt"]
	path = libs/nzmqt
	url = https://github.com/jonnydee/nzmqt.git
